DOCKERFILE='Dockerfile'

#EXAMPLE: EXTERNAL_REGISTRY_BASE_DOMAIN=luther007
EXTERNAL_REGISTRY_BASE_DOMAIN='luther007'
#EXAMPLE: REPOSITORY_NAME='jenkins-eks-automated'
REPOSITORY_NAME='cynerge-pipeline-test'
DOCKERTAG=${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}

CLUSTER_NAME='cynerge'
NAMESPACE='feature'

HELM_CHARTS=('charts/puppet-pipeline-test')
HELM_RELEASE_NAMES=('cynerge-feature')
HELM_VALUES=('feature/app')
HELM_TIMEOUTS=('600')